body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


tr {
    width: 399px;
}
td{
    width: 133px;
    height: 133px;
    border: 5px solid black;  
    cursor: pointer;
}
td:hover {
    background-color: rgba(234, 23, 56, 0.05);
}
tr:first-child td {
    border-top: 0;
}
tr td:first-child {
    border-left: 0;
}
tr:last-child td {
    border-bottom: 0;
}
tr td:last-child {
    border-right: 0;
}
table {
    border-collapse: collapse;
}
.shape-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.shape {
    height: 70px;
    width: 70px;
    position: absolute; 
}
.d-none {
    display: none !important;
}
.player-panel{
    display: flex;
    margin-top: 70px;
    margin-bottom: 48px;
}
.player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 26px;
    font-weight: 500;
}
.player img{
    height: 50px;
    width: 50px;
    margin-right: 12px;
}
.player-1 {
    position: absolute;
    left: 8vw;
    top: 8vh;
}
.player-2 {
    position: absolute;
    right: 8vw;
    top: 8vh;
}
.opacity {
    opacity: 0.5;
}
.row-winner {
    height: 12px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 200;
    transform: scale(0.0) !important;
    transition: transform 225ms ease-in-out;
}
.rotate-90 {
    transform: rotate(90deg);
}
.game-over {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.game-over img {
    height: 95%;
    width: 95%;
    margin-top: 40px;
    object-fit: contain;
}
.reset-button {
    border: 4px solid black;
    position: absolute;
    bottom: 12px;
    height: 78px;
    width: 30%;
    background-color: rgb(28, 11, 127);
    color: rgb(255, 250, 255);
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
    z-index: 1000;
    border-radius: 6px;
}

.reset-button:hover {
    background-color:rgb(41, 25, 142);
}

